

body{
    max-width: 1000px;
    margin: auto;
}

h1{
    text-align: center;
}

div.contiainer{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding:10px;
    
}

.row, .row_1, .row_2, .row_3, .row_4, .row_5, .row_6{
    border: 1px solid black;
    height: 60px;
    width: 60px;
    margin:2px;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: ;
}

.keyboard{
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
}

.enter{
    padding:5px;
    margin:3px;
    height: 30px;
    width: 60px;
    font-size: 14px;
    color: white;
    background-color: rgb(253, 20, 20);
    border: 1px solid black;
    border-radius: 1px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,.8);

}
.delete{
    padding:5px;
    margin:3px;
    height: 30px;
    width: 60px;
    font-size: 14px;
    color: white;
    background-color: rgb(253, 20, 20);
    border: 1px solid black;
    border-radius: 1px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,.8);

}

.key{
    padding:5px;
    margin:3px;
    height: 30px;
    width: 30px;
    font-size: 14px;
    color: white;
    background-color: rgb(253, 20, 20);
    border: 1px solid black;
    border-radius: 1px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,.8);
}
.key-call{
    padding:5px;
    margin:3px;
    height: 30px;
    width: 60px;
    font-size: 14px;
    color: white;
    background-color: rgb(253, 20, 20);
    border: 1px solid black;
    border-radius: 1px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,.8);
}

.key:active{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(72, 70, 70, 0.8);
}

.delete:active{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(72, 70, 70, 0.8);
}

.enter:active{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(72, 70, 70, 0.8);
}



