
*{
    background-color: #B36E5D;
}

body{
    max-width: 1000px;
    margin: auto;
}

h1{
    font-size: 50px;
    text-align: center;
    color: #faf0e6;
    font-family: Arial, Helvetica, sans-serif;;
}

div.contiainer{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding:10px;
    
    
}

.row, .row_1, .row_2, .row_3, .row_4, .row_5, .row_6{
    border: 1px solid #faf0e6;
    height: 60px;
    width: 60px;
    margin:2px;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #faf0e6;
    box-shadow: 5px 10px 10px rgba(0,0,0,.8);
    
}

.correct {

    background-color: rgb(1, 112, 1);
    transform: rotate(360deg);
    transition-duration: 1.5s;
}

.yellow {
    background-color: rgb(195, 167, 5);
    transform: rotate(360deg);
    transition-duration: 1.5s;
}

.wrong{
    background-color: rgb(53, 53, 53);
    transform: rotate(360deg);
    transition-duration: 1.5s;
}

.keyboard{
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
}

.enter{
    padding:5px;
    margin:3px;
    height: 40px;
    width: 60px;
    font-size: 14px;
    color: black;
    background-color:  #faf0e6;
    border: 1px solid black;
    border-radius: 1px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,.8);

}
.delete{
    padding:5px;
    margin:3px;
    height: 40px;
    width: 60px;
    font-size: 14px;
    color:  black;
    background-color: #faf0e6;
    border: 1px solid black;
    border-radius: 1px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,.8);

}

.key{
    padding:5px;
    margin:3px;
    height: 40px;
    width: 40px;
    font-size: 18px;
    color: black;
    background-color: #faf0e6;
    border: 1px solid black;
    border-radius: 1px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,.8);
}

#letter-1{
    margin-left: 24px;
}


.key:active{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(72, 70, 70, 0.8);
}

.delete:active{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(72, 70, 70, 0.8);
}

.enter:active{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(72, 70, 70, 0.8);
}



