@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fredoka+One&family=Open+Sans:wght@300&display=swap');

body{
    max-width: 1000px;
    margin: auto;
    background-color: #BFCAD0;
}

h1{
    font-size: 50px;
    text-align: center;
    color: #970C10;
    font-family: 'Fredoka One', cursive;
    
}

nav{
    display: flex;
    flex-direction: row-reverse;
}
.info{
   border: none;
   background: none;
}

.image {
   width: 30px;
   border: none;
 
}

.image:hover{
    border-radius:20px;
    cursor:context-menu;
    transform: scale(1.3);
}

div.contiainer{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding:10px;    
    
}

.row{
    border: 1px solid #101010;
    height: 60px;
    width: 60px;
    margin:2px;
    text-align: center;
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
    color: #faf0e6;
    box-shadow: 1px 1px 1px rgba(0,0,0,.8);
    
}

.correct {

    background-color: rgb(1, 112, 1);
    transform: rotate(360deg);
    transition-duration: 1s;
}

.position{
    background-color: rgb(195, 167, 5);
    transform: rotate(360deg);
    transition-duration: 1s;
}

.wrong{
    background-color: rgb(53, 53, 53);
    transform: rotate(360deg);
    transition-duration: 1s;
}

.answer, .you-lost{
    font-size: 20px;
    text-align: center;
    color:#970C10;
    font-family: 'Fredoka One', cursive;
}

.you-win{
    font-size: 20px;
    text-align: center;
    color:#970C10;
    font-family: 'Fredoka One', cursive;
}


.keyboard{
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
}

.enter{
    padding:5px;
    height: 30px;
    width: 60px;
    font-size: 14px;
    color: black;
    background-color:  #faf0e6;
    border: 2px solid black;
    border-radius: 1px;
    box-shadow: 5px 5px 5px 5px black;
    font-family: 'Fredoka One', cursive;

}

.delete{
    padding:5px;
    height: 30px;
    width: 60px;
    font-size: 14px;
    color:  black;
    background-color: #faf0e6;
    border: 2px solid black;
    border-radius: 1px;
    box-shadow: 5px 5px 5px 5px black;
    font-family: 'Fredoka One', cursive;

}

.key{
    padding:5px;
    margin:3px;
    height: 30px;
    width: 30px;
    font-size: 18px;
    color: black;
    background-color: #faf0e6;
    border: 2px solid black;
    border-radius: 1px;
    box-shadow: 5px 5px 5px 5px black;
    font-family: 'Fredoka One', cursive;
}

#letter-1{
    margin-left: 20px;
}

.key:active{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(72, 70, 70, 0.8);
}

.delete:active{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(72, 70, 70, 0.8);
}

.enter:active{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(72, 70, 70, 0.8);
}

